.home {
    z-index: 10;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* BackgAccent.css */
.scroll-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.scroll-row {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.scroll-row span {
    display: inline-block;
    padding: 0 1rem;
    font-size: 2rem;
    animation: scroll linear infinite;
}

/* Keyframes for scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.home .page-title {
    font-size: 10vw;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-link {
    color: var(--text);
    font-size: 2rem;
    text-decoration: none;
    transition: color .3s ease;
}

.social-link:hover {
    color: var(--tertiary);
}

@media (min-width: 1500px) {
    .social-link {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .home .page-title {
        font-size: 14vw;
    }

    .social-link {
        font-size: 1.75rem;
    }
}

@media (max-width: 480px) {
    .social-link {
        font-size: 1.5rem;
    }
}
