:root {
	font-family: 'Roboto', sans-serif;
	color-scheme: dark;
	--background: #1c1c1c;
	--text: #e9e9e9;
	--darker-text: #B5B5B5;
	--accent-lightblue: #3DA9FC;
	--accent-darkblue: #2A65BD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body {
	background-color: var(--primary);
	color: var(--text);
	overflow-x: hidden;
}

.show-cursor {
	cursor: auto !important;
}